body {
  border: -2px solid black;
}
h1 {
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2px solid black;
}
h2 {
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
li {
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
p {
  color: red;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h3 {
  color: rgb(0, 0, 0);
  font-size: x-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
